<form [formGroup] = "userForm" (submit) = "onSaveUser()">
  <div class="ui-g ui-fluid" *ngIf="user">
    <div class="ui-g-3">
      <div class="ui-g-12 thumbnail" style="margin-bottom: 0px">
        <div class="image view view-first"> <!-- *ngIf = "avatarPreview !== '' && avatarPreview && form.get('imgLink').valid" -->
          <img width="100%" style="display: block" [src]="avatarPreview"> <!-- src="../../../../assets/images/{{user.imgLink}}" -->
          <!-- <img *ngIf="avatarPreview !== '' && avatarPreview" id="avatarPreview" width="100%" style="display: block" [src]="avatarPreview"> -->
          <div class="mask">
            <div class="tools tools-bottom" style="margin-top: 83px">
              <a (click)="onChangeAvatar($event)">
                <i class="fa fa-camera"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="caption">
          <button type="button" class="ui-button" (click)="filePicker.click()"><i class="fa fa-camera"></i></button>
          <input id="filePicker" style="display: none; margin: 0px" type="file" #filePicker (click) = "resetFileInput($event)" (change)="onImagePicked($event)">
        </div>
      </div>
    </div>
    <div class="ui-g-9 form-group">
      <div class="ui-g-12 form-group">
        <div class="ui-g-4">
          <label for="email">Email</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="email" formControlName="email"/>
        </div>
      </div>
      <div class="ui-g-12 form-group">
        <div class="ui-g-4">
          <label for="name">Tên</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="name" formControlName="name" />
        </div>
      </div>
      <div class="ui-g-12 form-group">
        <div class="ui-g-4">
          <label for="fullName">Tên đầy đủ</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="fullName" formControlName="fullName" />
        </div>
      </div>

    </div>
  </div>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix" style="padding-left: 5px">
      <button type="button" pButton class="ui-button-danger" icon="fa fa-close" (click)="onDeleteUser()" label="Delete"></button>
      <button type="submit" pButton class="ui-button-success" icon="fa fa-check" label="Save"></button>
    </div>
  </p-footer>
</form>